.DS_Store
node_modules
/dist

# local env data
.env.local
.env.*.local

# Log data
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and data
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
